body[lang="en"] .lang-sign-in::before { content: "Sign in"; }
body[lang="en"] .lang-sign-out::before { content: "Sign out"; }
body[lang="en"] .lang-sign-up::before { content: "Sign up"; }
body[lang="en"] .lang-tables::before { content: "Tables"; }
body[lang="en"] .lang-table::before { content: "Table"; }
body[lang="en"] .lang-categories::before { content: "Categories"; }
body[lang="en"] .lang-category::before { content: "Category"; }
body[lang="en"] .lang-profile::before { content: "Profile"; }
body[lang="en"] .lang-my-page::before { content: "My Page"; }
body[lang="en"] .lang-start-test::before { content: "Start test"; }
body[lang="en"] .lang-edit::before { content: "Edit"; }
body[lang="en"] .lang-create::before { content: "Create"; }
body[lang="en"] .lang-view::before { content: "View"; }
body[lang="en"] .lang-delete::before { content: "Delete"; }
body[lang="en"] .lang-save::before { content: "Save"; }
body[lang="en"] .lang-option::before { content: "Option"; }
body[lang="en"] .lang-description::before { content: "Description"; }
body[lang="en"] .lang-image-file::before { content: "Image file"; }
body[lang="en"] .lang-overwrite::before { content: "Overwrite"; }
body[lang="en"] .lang-private::before { content: "Private"; }
body[lang="en"] .lang-next::before { content: "Next"; }
body[lang="en"] .lang-retry::before { content: "Retry"; }
body[lang="en"] .lang-reverse::before { content: "Reverse"; }
body[lang="en"] .lang-know::before { content: "I know!"; }
body[lang="en"] .lang-not-know::before { content: "I'm not sure..."; }
body[lang="en"] .lang-email-address::before { content: "Email address"; }
body[lang="en"] .lang-password::before { content: "Password"; }
body[lang="en"] .lang-name::before { content: "Name"; }
body[lang="en"] .lang-create-new-account::before { content: "Create new account"; }
body[lang="en"] .lang-parent-category::before { content: "Parent category"; }
body[lang="en"] .lang-reset-password::before { content: "Reset password"; }
body[lang="en"] .lang-send-new-password::before { content: "Send me new password"; }

body[lang="en"] .lang-msg-error::before { content: "An error occurred."; }
body[lang="en"] .lang-msg-no-data::before { content: "No data registered."; }
body[lang="en"] .lang-msg-finished::before { content: "Good work!"; }
body[lang="en"] .lang-msg-perfect::before { content: "Perfect! Great!!"; }
body[lang="en"] .lang-msg-forgot-password::before { content: "I forgot password"; }
body[lang="en"] .lang-msg-no-account::before { content: "Don't have account yet?"; }
body[lang="en"] .lang-msg-already-have-account::before { content: "Already have account?"; }
body[lang="en"] .lang-msg-required::before { content: "Please input."; }
body[lang="en"] .lang-msg-not-email::before { content: "Please input email address."; }
body[lang="en"] .lang-msg-invalid-char::before { content: "You cannot include special characters."; }
body[lang="en"] .lang-msg-length-short::before { content: " characters needed at least."; }
body[lang="en"] .lang-msg-column-short::before { content: " columns needed at least."; }
body[lang="en"] .lang-msg-row-short::before { content: " rows needed at least."; }
body[lang="en"] .lang-msg-account-registered::before { content: "Account registered."; }
body[lang="en"] .lang-msg-activation-email-sent::before { content: "An email was sent to your email address. Please click the URL in the email to activate your account."; }
body[lang="en"] .lang-msg-password-email-sent::before { content: "Your password has been reset and emailed to you."; }
body[lang="en"] .lang-msg-activated::before { content: "Your account is now active. Please sign in!"; }
body[lang="en"] .lang-msg-activate-expired::before { content: "Sorry, this URL is no longer active. Please sign up again."; }
body[lang="en"] .lang-msg-auth-failed::before { content: "Authentication failed. Please try again."; }
body[lang="en"] .lang-msg-auth-expired::before { content: "Authentication expired. Please sign in again."; }
body[lang="en"] .lang-msg-input-to-update::before { content: "Please input the fields you want to update."; }
body[lang="en"] .lang-msg-updated::before { content: "Updated."; }
body[lang="en"] .lang-msg-not-found::before { content: "Sorry, data not found."; }
body[lang="en"] .lang-msg-email-not-found::before { content: "Your email not found."; }
body[lang="en"] .lang-msg-1st-row-is-title::before { content: "The first row is title."; }
