body[lang="zh"] .lang-sign-in::before { content: "登录"; }
body[lang="zh"] .lang-sign-out::before { content: "退出"; }
body[lang="zh"] .lang-sign-up::before { content: "注册"; }
body[lang="zh"] .lang-tables::before { content: "单词表"; }
body[lang="zh"] .lang-table::before { content: "单词表"; }
body[lang="zh"] .lang-categories::before { content: "类别"; }
body[lang="zh"] .lang-category::before { content: "类别"; }
body[lang="zh"] .lang-profile::before { content: "简介"; }
body[lang="zh"] .lang-my-page::before { content: "我的首页"; }
body[lang="zh"] .lang-start-test::before { content: "开始测验"; }
body[lang="zh"] .lang-edit::before { content: "编辑"; }
body[lang="zh"] .lang-create::before { content: "创建"; }
body[lang="zh"] .lang-view::before { content: "查看"; }
body[lang="zh"] .lang-delete::before { content: "删除"; }
body[lang="zh"] .lang-save::before { content: "保存"; }
body[lang="zh"] .lang-option::before { content: "选项"; }
body[lang="zh"] .lang-description::before { content: "说明"; }
body[lang="zh"] .lang-overwrite::before { content: "重写"; }
body[lang="zh"] .lang-private::before { content: "非公开"; }
body[lang="zh"] .lang-next::before { content: "下一个"; }
body[lang="zh"] .lang-retry::before { content: "重试"; }
body[lang="zh"] .lang-reverse::before { content: "反转"; }
body[lang="zh"] .lang-know::before { content: "知道!"; }
body[lang="zh"] .lang-not-know::before { content: "不清楚..."; }
body[lang="zh"] .lang-email-address::before { content: "邮件地址"; }
body[lang="zh"] .lang-password::before { content: "密码"; }
body[lang="zh"] .lang-name::before { content: "名字"; }
body[lang="zh"] .lang-create-new-account::before { content: "创建账户"; }
body[lang="zh"] .lang-parent-category::before { content: "上一层类别"; }
body[lang="zh"] .lang-reset-password::before { content: "重置密码"; }
body[lang="zh"] .lang-send-new-password::before { content: "发送新密码"; }

body[lang="zh"] .lang-msg-error::before { content: "错误发生了。"; }
body[lang="zh"] .lang-msg-no-data::before { content: "没有数据。"; }
body[lang="zh"] .lang-msg-finished::before { content: "辛苦了！"; }
body[lang="zh"] .lang-msg-perfect::before { content: "完全正确的! 很棒!!"; }
body[lang="zh"] .lang-msg-forgot-password::before { content: "忘记密码"; }
body[lang="zh"] .lang-msg-no-account::before { content: "还没注册？"; }
body[lang="zh"] .lang-msg-already-have-account::before { content: "有账户吗？"; }
body[lang="zh"] .lang-msg-required::before { content: "请输入。"; }
body[lang="zh"] .lang-msg-not-email::before { content: "请输入邮件地址。"; }
body[lang="zh"] .lang-msg-invalid-char::before { content: "包括无效字符。"; }
body[lang="zh"] .lang-msg-length-short::before { content: " 个字以上需要。"; }
body[lang="zh"] .lang-msg-column-short::before { content: " 个列以上需要。"; }
body[lang="zh"] .lang-msg-row-short::before { content: " 个行以上需要。"; }
body[lang="zh"] .lang-msg-account-registered::before { content: "账户注册好了。"; }
body[lang="zh"] .lang-msg-activation-email-sent::before { content: "发送了邮件。请点击邮件里面的链接，以激活您的账户。"; }
body[lang="zh"] .lang-msg-password-email-sent::before { content: "用电邮把新的密码发送了给您。"; }
body[lang="zh"] .lang-msg-activated::before { content: "您的账户激活好了。请登录！"; }
body[lang="zh"] .lang-msg-activate-expired::before { content: "不好意思，这个链接已经失效了。请注册再一次。"; }
body[lang="zh"] .lang-msg-auth-failed::before { content: "不能登录。请核对一下邮件地址和密码。"; }
body[lang="zh"] .lang-msg-auth-expired::before { content: "登录失效了。请登录再一次。"; }
body[lang="zh"] .lang-msg-input-to-update::before { content: "请输入您想要修改的地方。"; }
body[lang="zh"] .lang-msg-updated::before { content: "更新成功了。"; }
body[lang="zh"] .lang-msg-not-found::before { content: "不好意思，数据找不到。"; }
body[lang="zh"] .lang-msg-email-not-found::before { content: "邮件地址找不到。"; }
