body[lang="ja"] .lang-sign-in::before { content: "ログイン"; }
body[lang="ja"] .lang-sign-out::before { content: "ログアウト"; }
body[lang="ja"] .lang-sign-up::before { content: "アカウント登録"; }
body[lang="ja"] .lang-tables::before { content: "テーブル"; }
body[lang="ja"] .lang-table::before { content: "テーブル"; }
body[lang="ja"] .lang-categories::before { content: "カテゴリー"; }
body[lang="ja"] .lang-category::before { content: "カテゴリー"; }
body[lang="ja"] .lang-profile::before { content: "プロフィール"; }
body[lang="ja"] .lang-my-page::before { content: "マイページ"; }
body[lang="ja"] .lang-start-test::before { content: "テスト開始"; }
body[lang="ja"] .lang-edit::before { content: "編集"; }
body[lang="ja"] .lang-create::before { content: "作成"; }
body[lang="ja"] .lang-view::before { content: "照会"; }
body[lang="ja"] .lang-delete::before { content: "削除"; }
body[lang="ja"] .lang-save::before { content: "保存"; }
body[lang="ja"] .lang-option::before { content: "オプション"; }
body[lang="ja"] .lang-description::before { content: "説明"; }
body[lang="ja"] .lang-overwrite::before { content: "上書き保存"; }
body[lang="ja"] .lang-private::before { content: "非公開"; }
body[lang="ja"] .lang-next::before { content: "次"; }
body[lang="ja"] .lang-retry::before { content: "もう一度"; }
body[lang="ja"] .lang-reverse::before { content: "逆にする"; }
body[lang="ja"] .lang-know::before { content: "知ってます!"; }
body[lang="ja"] .lang-not-know::before { content: "わかりません..."; }
body[lang="ja"] .lang-email-address::before { content: "メールアドレス"; }
body[lang="ja"] .lang-password::before { content: "パスワード"; }
body[lang="ja"] .lang-name::before { content: "お名前"; }
body[lang="ja"] .lang-create-new-account::before { content: "アカウント新規作成"; }

body[lang="ja"] .lang-msg-error::before { content: "エラーが発生しました。"; }
body[lang="ja"] .lang-msg-no-data::before { content: "登録されたデータがありません。"; }
body[lang="ja"] .lang-msg-finished::before { content: "お疲れ様でした!"; }
body[lang="ja"] .lang-msg-perfect::before { content: "満点です! 素晴らしい!!"; }
body[lang="ja"] .lang-msg-forgot-password::before { content: "パスワードをお忘れですか？"; }
body[lang="ja"] .lang-msg-no-account::before { content: "アカウント未登録ですか？"; }
body[lang="ja"] .lang-msg-already-have-account::before { content: "アカウントをお持ちでしょうか?"; }
body[lang="ja"] .lang-msg-required::before { content: "入力してください"; }
body[lang="ja"] .lang-msg-not-email::before { content: "メールアドレスを入力してください"; }
body[lang="ja"] .lang-msg-length-short::before { content: " 文字以上入力してください"; }
body[lang="ja"] .lang-msg-column-short::before { content: " 列以上入力してください"; }
body[lang="ja"] .lang-msg-row-short::before { content: " 行以上入力してください"; }
body[lang="ja"] .lang-msg-account-registered::before { content: "アカウントが仮登録されました"; }
body[lang="ja"] .lang-msg-activation-email-sent::before { content: "メールを送信しました。メールの中のURLをクリックして、アカウントを有効化してください。"; }
body[lang="ja"] .lang-msg-activated::before { content: "アカウントが有効になりました。ログインしてください。"; }
body[lang="ja"] .lang-msg-activate-expired::before { content: "申し訳ございません。有効期限が切れました。お手数ですが再度ご登録をお願いいたします。"; }
body[lang="ja"] .lang-msg-auth-failed::before { content: "ログインできません。メールアドレスとパスワードをお確かめください。"; }
body[lang="ja"] .lang-msg-auth-expired::before { content: "ログイン有効期限が切れました。再度ログインしてください。"; }
body[lang="ja"] .lang-msg-input-to-update::before { content: "更新したい項目に入力してください。"; }
body[lang="en"] .lang-msg-updated::before { content: "更新されました。"; }
