body[lang="ko"] .lang-sign-in::before { content: "로그인"; }
body[lang="ko"] .lang-sign-out::before { content: "로그아웃"; }
body[lang="ko"] .lang-sign-up::before { content: "어카운트 등록"; }
body[lang="ko"] .lang-tables::before { content: "테이블"; }
body[lang="ko"] .lang-table::before { content: "테이블"; }
body[lang="ko"] .lang-categories::before { content: "카테고리"; }
body[lang="ko"] .lang-category::before { content: "카테고리"; }
body[lang="ko"] .lang-profile::before { content: "프로필"; }
body[lang="ko"] .lang-my-page::before { content: "마이페이지"; }
body[lang="ko"] .lang-start-test::before { content: "테스트 시작"; }
body[lang="ko"] .lang-edit::before { content: "편집"; }
body[lang="ko"] .lang-create::before { content: "작성"; }
body[lang="ko"] .lang-view::before { content: "조회"; }
body[lang="ko"] .lang-delete::before { content: "삭제"; }
body[lang="ko"] .lang-save::before { content: "저장"; }
body[lang="ko"] .lang-option::before { content: "옵션"; }
body[lang="ko"] .lang-description::before { content: "설명"; }
body[lang="ko"] .lang-overwrite::before { content: "수정 후 저장"; }
body[lang="ko"] .lang-private::before { content: "비공개"; }
body[lang="ko"] .lang-next::before { content: "다음"; }
body[lang="ko"] .lang-retry::before { content: "다시 한번"; }
body[lang="ko"] .lang-reverse::before { content: "돌아가기"; }
body[lang="ko"] .lang-know::before { content: "알고 있어요!"; }
body[lang="ko"] .lang-not-know::before { content: "모르겠습니다..."; }
body[lang="ko"] .lang-email-address::before { content: "Email 주소"; }
body[lang="ko"] .lang-password::before { content: "패스워드"; }
body[lang="ko"] .lang-name::before { content: "이름"; }
body[lang="ko"] .lang-create-new-account::before { content: "어카운트 신규작성"; }
body[lang="ko"] .lang-parent-category::before { content: "상위 카테고리"; }
body[lang="ko"] .lang-reset-password::before { content: "패스워드 재발행"; }
body[lang="ko"] .lang-send-new-password::before { content: "신패스워드를 송신"; }

body[lang="ko"] .lang-msg-error::before { content: "에러가 발생했습니다."; }
body[lang="ko"] .lang-msg-no-data::before { content: "등록된 데이터가 없습니다."; }
body[lang="ko"] .lang-msg-finished::before { content: "수고 하셨습니다!"; }
body[lang="ko"] .lang-msg-perfect::before { content: "완벽합니다!!"; }
body[lang="ko"] .lang-msg-forgot-password::before { content: "패스워드를 잊어버렸습니다"; }
body[lang="ko"] .lang-msg-no-account::before { content: "어카운트 등록은 안 했습니까?"; }
body[lang="ko"] .lang-msg-already-have-account::before { content: "어카운트는 있습니까?"; }
body[lang="ko"] .lang-msg-required::before { content: "입력해 주십시오."; }
body[lang="ko"] .lang-msg-not-email::before { content: "이메일 주소를 입력해 주십시오"; }
body[lang="ko"] .lang-msg-invalid-char::before { content: "특수문자는 입력이 안됩니다."; }
body[lang="ko"] .lang-msg-length-short::before { content: " 문자 이상을 입력해 주십시오."; }
body[lang="ko"] .lang-msg-column-short::before { content: " 열이상을 입력해 주십시오."; }
body[lang="ko"] .lang-msg-row-short::before { content: " 행이상을 입력해 주십시오"; }
body[lang="ko"] .lang-msg-account-registered::before { content: "어카운트가 .등록됐습니다"; }
body[lang="ko"] .lang-msg-activation-email-sent::before { content: "메일을 송신했습니다 URL을 클릭하고 어카운트를 유효화해 주세요."; }
body[lang="ko"] .lang-msg-password-email-sent::before { content: "패스워드를 재발행하여 메일을 송신했습니다."; }
body[lang="ko"] .lang-msg-activated::before { content: "어카운트가 유효합니다 로그인 해주세요!"; }
body[lang="ko"] .lang-msg-activate-expired::before { content: "죄송합니다 유효기간이 끝났습니다 다시 등록해 주시기 바랍니다"; }
body[lang="ko"] .lang-msg-auth-failed::before { content: "로그인 할 수 없습니다 다시 한번 로인해 주세요."; }
body[lang="ko"] .lang-msg-auth-expired::before { content: "로그인 유효기간이 끝났습니다. 다시한 번 로그인 해주세요."; }
body[lang="ko"] .lang-msg-input-to-update::before { content: "갱신하고 싶은 항목을 입력해 주세요."; }
body[lang="ko"] .lang-msg-updated::before { content: "갱신했습니다."; }
body[lang="ko"] .lang-msg-not-found::before { content: "데이터가 없습니다."; }
body[lang="ko"] .lang-msg-email-not-found::before { content: "이 메일은 등록되지 않았습니다."; }
